<div class="lg:hidden bg-white shadow-xl border-t text-sm">
    <div class="space-y-1 px-4 py-4">
        <ng-container *ngFor="let menu of menus">
            <!-- Dropdown Yoksa -->
            <a *ngIf="!menu.children || menu.children.length === 0" [routerLink]="menu.url"
                [target]="menu.target || '_self'" (click)="onLinkClick()"
                class="block px-3 py-2 rounded-md font-semibold text-primary hover:bg-light-gray cursor-pointer">
                {{ menu.title }}
            </a>

            <!-- Dropdown Varsa -->
            <div *ngIf="menu.children && menu.children.length > 0" class="space-y-1">
                <button (click)="toggleMobileSubmenu(menu.id)"
                    class="flex w-full items-center justify-between px-3 py-2 rounded-md font-semibold text-primary hover:bg-light-gray">
                    {{ menu.title }}
                    <i [class]="mobileSubmenu === menu.id ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                </button>
                <div *ngIf="mobileSubmenu === menu.id" class="space-y-1 px-6 text-sm text-primary/80">
                    <ng-container *ngFor="let child of menu.children">
                        <a [routerLink]="child.url" [target]="child.target || '_self'" (click)="onLinkClick()"
                            class="block px-3 py-2 rounded-md hover:bg-light-gray cursor-pointer">
                            {{ child.title }}
                        </a>
                    </ng-container>
                </div>
            </div>
        </ng-container>

        <a href="#" target="_blank" rel="noreferrer" (click)="onLinkClick()"
            class="block rounded-full bg-accent px-4 py-2 text-center font-semibold text-white hover:bg-orange-500 transition-colors mt-4">E-Belediye</a>
    </div>
</div>